@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-sans leading-relaxed font-light text-black;
    font-size: 17px;
  }

  h1 {
    @apply font-serif text-green text-4xl font-normal mb-8;
  }

  h2 {
    @apply text-xl text-green font-normal mb-2;
  }

  div.ctct-form-defaults {
    @apply p-0 !important;
  }

  h2.ctct-form-header {
    @apply font-serif text-green text-4xl font-normal mb-8 !important;
  }

  h3 {
    @apply font-normal text-green text-lg mb-2;
  }

  h4 {
    @apply font-normal;
  }

  p {
    @apply mb-4;
  }

  ul,
  ol {
    @apply pl-4 mb-4;
  }

  ul {
    @apply list-square;
  }

  li {
    @apply mb-2;
  }

  ol {
    @apply list-decimal;
  }

  a {
    @apply font-normal text-green transition-colors duration-300 hover:text-green-dark focus:outline-green;
  }

  aside h4 {
    @apply text-brown text-base border-b border-brown mb-4 font-normal;
  }

  button {
    @apply focus:outline-green;
  }

  .top-nav li {
    @apply mb-0;
  }

  .sub-nav li {
    @apply mb-2;
  }

  blockquote {
    @apply mb-2;
  }

  figure {
    @apply mb-4;
  }

  figcaption {
    @apply text-sm text-center;
  }

  table {
    @apply w-full border border-brown mb-8;
  }

  thead {
    @apply text-brown bg-beige;
  }

  th,
  td {
    @apply p-1;
  }

  th {
    @apply font-semibold border-r border-brown;
  }

  tr {
    @apply border-l border-b border-beige;
    border-left: 1px solid #746158;
  }

  tr:last-of-type {
    @apply border-b border-brown;
  }

  td {
    @apply px-2 border-r border-brown;
  }
}
